<br/>
<br/>
<br/>
<div class="container">
	<form editable-form name="tableform" onaftersave="enviar()"
		oncancel="cancel()">
		<table
			class="table table-striped table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Nombre</th>
				<th>Masa</th>
				<th>Gravedad</th>
				<th>Diametro</th>
				<th>Temperatura</th>
				<th>Periodo Rotacional</th>
				<th>Periodo Orbital</th>
				<th>Planeta</th>
				<th><span ng-show="tableform.$visible">Action</span><th>
			</tr>

			<tr ng-repeat="satelite in satelites">
				<td><span editable-text="satelite.nombre" e-form="tableform">
						{{satelite.nombre}} </span></td>
				<td><span editable-text="satelite.masa" e-form="tableform">
						{{satelite.masa}} </span></td>
				<td><span editable-text="satelite.gravedad" e-form="tableform">
						{{satelite.gravedad}} </span></td>	
				<td><span editable-text="satelite.diametro"	e-form="tableform">
						{{satelite.diametro}} </span></td>
				<td><span editable-text="satelite.temperatura" e-form="tableform">
						{{satelite.temperatura}} </span></td>	
				<td><span editable-text="satelite.periodorotacional" e-form="tableform">
						{{satelite.periodorotacional}} </span></td>		
				<td><span editable-text="satelite.periodoorbital" e-form="tableform">
						{{satelite.periodoorbital}} </span></td>						
				<td>
					<!-- editable group (select-remote) --> <span
					editable-select="satelite.planeta.nombre" e-form="tableform"
					e-ng-options="s.nombre as s.nombre for s in planetas"> {{
						showStatus(satelite) }} </span>
				</td>				
				<td><button type="button" ng-show="tableform.$visible"
						ng-click="eliminarSatelite(satelite)" class="btn btn-danger pull-right">Del</button></td>
			</tr>


		</table>
		<!--<a class="btn btn-success" href="#/addGalaxia" role="agregar">Agregar</a>
		 <!-- buttons -->
		<div class="btn-edit">
			<button type="button" class="btn btn-default"
				ng-show="!tableform.$visible" ng-click="tableform.$show()">
				Editar</button>
		</div>
		<div class="btn-form" ng-show="tableform.$visible">
			<button type="button" ng-disabled="tableform.$waiting"
				ng-click="addSatelite()" class="btn btn-default pull-right">Agregar</button>
			<button type="submit" ng-disabled="tableform.$waiting"
				class="btn btn-primary">Guardar</button>
			<button type="button" ng-disabled="tableform.$waiting"
				ng-click="tableform.$cancel()" class="btn btn-default">Cancelar</button>
		</div>
	</form>
</div>


