<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/enhanced_universe"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">

			<list>

				<value>com/edu/udea/iw/dto/Galaxia.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Planeta.hbm.xml</value>
				<value>com/edu/udea/iw/dto/TipoGalaxia.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Administrador.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Asteroide.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Cometa.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Estrella.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Glosario.hbm.xml</value>
				<value>com/edu/udea/iw/dto/Satelite.hbm.xml</value>
				<value>com/edu/udea/iw/dto/TipoEspectral.hbm.xml</value>

			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="javax.persistence.validation.mode">none</prop>

			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">

		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="dataSource" ref="dataSource"></property>

	</bean>
	


	<bean id="tipoGalaxiaDao" class="com.edu.udea.iw.dao.impl.TipoGalaxiaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="galaxiaDao" class="com.edu.udea.iw.dao.impl.GalaxiaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="planetaDao" class="com.edu.udea.iw.dao.impl.PlanetaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="estrellaDao" class="com.edu.udea.iw.dao.impl.EstrellaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="tipoEspectralDao" class="com.edu.udea.iw.dao.impl.TipoEspectralDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="cometaDao" class="com.edu.udea.iw.dao.impl.CometaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="sateliteDao" class="com.edu.udea.iw.dao.impl.SateliteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="asteroideDao" class="com.edu.udea.iw.dao.impl.AsteroideDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="administradorDao" class="com.edu.udea.iw.dao.impl.AdministradorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="glosarioDao" class="com.edu.udea.iw.dao.impl.GlosarioDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	

</beans>
