<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="http://localhost:8080/enhanced_universe/rest/galaxia/guardar" method="POST"></form>
		<label>Nombre</label>
		<input name="nombre" type="text" placeholder="escribe"><br/>
		<label>TipoGalaxia</label>
		<input name="tipogalaxia" type="text" placeholder="escribe"><br/>
		<label>alto</label>
		<input name="alto" type="text" placeholder="escribe"><br/>
		<label>ancho</label>
		<input name="ancho" type="text" placeholder="escribe"><br/>
		<label>Profundidad</label>
		<input name="profundidad" type="text" placeholder="escribe"><br/>
		<label>Diametro</label>
		<input name="diametro" type="text" placeholder="escribe"><br/>
		<label>Distancia Tierra</label>
		<input name="distanciatierra" type="text" placeholder="escribe"><br/>
		
		<input type="submit" value="enviar">
	
	</form>

</body>
</html>