<br/>
<br/>
<br/>
<div class="container">
	<form editable-form name="tableform" onaftersave="enviar()"
		oncancel="cancel()">
		<table
			class="table table-striped table-bordered table-hover table-condensed">
			<tr class="active">
				<th>Nombre</th>
				<th>Tipo</th>
				<th>Alto</th>
				<th>Ancho</th>
				<th>Profundidad</th>
				<th>Diametro</th>
				<th>Distancia Tierra</th>
				<th><span ng-show="tableform.$visible">Action</span><th>
			</tr>

			<tr ng-repeat="galaxia in galaxias">
				<td><span editable-text="galaxia.nombre" e-form="tableform">
						{{galaxia.nombre}} </span></td>
				<td>
					<!-- editable group (select-remote) --> <span
					editable-select="galaxia.tipogalaxia.nombre" e-form="tableform"
					e-ng-options="s.nombre as s.nombre for s in tipogalaxias"> {{
						showStatus(galaxia) }} </span>
				</td>
				<td><span editable-text="galaxia.ancho" e-form="tableform">
						{{galaxia.ancho}} </span></td>
				<td><span editable-text="galaxia.alto" e-form="tableform">
						{{galaxia.alto}} </span></td>
				<td><span editable-text="galaxia.profundidad"
					e-form="tableform"> {{galaxia.profundidad}} </span></td>
				<td><span editable-text="galaxia.diametro" e-form="tableform">
						{{galaxia.diametro}} </span></td>
				<td><span editable-text="galaxia.distanciatierra"
					e-form="tableform"> {{galaxia.distanciatierra}} </span></td>
				<td><button type="button" ng-show="tableform.$visible"
						ng-click="eliminarGalaxia(galaxia)" class="btn btn-danger pull-right">Del</button></td>
			</tr>


		</table>
		<!--<a class="btn btn-success" href="#/addGalaxia" role="agregar">Agregar</a>
		 <!-- buttons -->
		<div class="btn-edit">
			<button type="button" class="btn btn-default"
				ng-show="!tableform.$visible" ng-click="tableform.$show()">
				Editar</button>
		</div>
		<div class="btn-form" ng-show="tableform.$visible">
			<button type="button" ng-disabled="tableform.$waiting"
				ng-click="addGalaxia()" class="btn btn-default pull-right">Agregar</button>
			<button type="submit" ng-disabled="tableform.$waiting"
				class="btn btn-primary">Guardar</button>
			<button type="button" ng-disabled="tableform.$waiting"
				ng-click="tableform.$cancel()" class="btn btn-default">Cancelar</button>
		</div>
	</form>
</div>


